body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    background: linear-gradient(to right,red ,yellow);
    text-align: center;
}
.color1{
    background: lightcoral;
    color: black;
}
.color2{
    background: darkcyan;
    color: white;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}