body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
.color1{
    background: lightcoral;
    color: black;
}
.color2{
    background: darkcyan;
    color: white;
}
